body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
section {
	height: 500px;
	padding: 3rem 0;
}
h1{
    font-size: 50px;
}
p{
    font-size: 16px;
}

/*top-banner*/

.name-highlight{
    color: orange;
}
.half_width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half_width img{
    width: 100%;
}
.top-banner {
	background-image: url("../images/top-banner.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.link-button {
	background-image: linear-gradient(45deg, lightSalmon,tomato);
	text-decoration: navajowhite;
	padding: 7px 30px;
	color: white;
	border-radius: 5px;
	font-weight: 500;
	text-transform: uppercase;
}

/**dream*/

.dream {
	background-image: url("../images/dream-bg.png");
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
}